

  <div>
 <p>
   Application contains mainly two pages <br><br>
   <b>
   1.Calculate client side<br>
   2.Calculate server side</b><br><br>
   Click the "Calculate" to acces the clientside handle page  and Calculateserver to navigate to Serverside handling page.<br>
   after the entering the values  click on the calculate button to get the monthly paymnet<br>


   Client side calculation  the dropdown values are  loaded from client side itself.Calculation is also in angular side<br><br>



   Client side calculation  the dropdown values are  loaded from client side itself.Calculation is also in angular side<br>
   Validations on the client side are very basic and required fields are marked as mandatory.<br>
   reactive forms approach is used to create the form in angular.Bootstrap styles and icons are used to modify the UI.<br>
   dependncy Injection,Pipes,Observalbles ,Services,Rxjs etc are used in client side.<br>
   Client side files are structured inside the folder core and are like models,services,utils,validators etc. Calculate components are under feature<br>
didnt get the time to add test cases in angular and will add <br><br><br>


   Server side is done using  .net core 3.1 apis. Some test cases are added using xunit and depndency injection are mentioned in startup.cs fields<br>
   In the case of server side page , Dropdown values are loaded from serverside.<br>
   and calculation is handled in server side and it is invoked using n api call.<br>
   Nsubstitute is used to mock librarues.<br>
   Used get method to get the Occupation list and Post method is used to submit the data to calculate.<br>



 </p>
  </div>
